.profile{
    &__title{
        margin-top: 100px;
        text-align: center;
        font-size: 50px;
        font-family:"iCiel Pony" ;
        position: relative;
    
    
    &::after {
        content: "";

        display: block;
        margin: 20px auto 0; /* Cách tiêu đề một khoảng và căn giữa */
        width: 30%; /* Độ dài bằng với nội dung tiêu đề */
        height: 0.5px; /* Độ dày của đường kẻ */
        background-color: rgba(black,0.3); /* Màu sắc của đường kẻ */
      }
    }
    &__upload{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    } 
    &__info{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        &__box{
            width: 70%;
            &__title{
                font-size: 30px;
                margin-bottom: 10px;
            }
            
        }
    }
}
.profile__info__box__container {
    border: 1px solid #ccc; /* Khung viền hình chữ nhật */
    padding: 10px;
    border-radius: 8px; /* Bo tròn các góc của hình chữ nhật */
    background-color: white;
    margin-bottom: 20px;
  }
  
  .profile__info__box__container p {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 25px; /* Đường kẻ giữa các cột */
    margin-left: 25px;
  }
  
  .profile__info__box__container p:last-child {
    border-bottom: none; /* Không kẻ dưới dòng cuối cùng */
  }
  