.checkout-complete-page {
  background-image: url("https://i.imgur.com/EWG9LmP.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;

  h1, h2 {
    font-family: "iCiel Pony", sans-serif;
  }

  h1 {
    font-size: 2.5rem;
    color: #333;
  }

  h2 {
    font-size: 1.8rem;
    color: #FF0000;
  }

  .content-wrapper {
    display: flex;
    justify-content: center; 
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
  }

  .order-summary {
    width: 100%; 
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .thank-you-message {
    color: #437DEA; 
    font-weight: bold;
    margin: 5px 0;
    text-align: center;
  }

  .total-price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }

  .total-price {
    font-weight: bold; 
    margin: 5px 0;
    text-align: center;
  }

  .payment-button {
    margin-top: 10px;
    padding: 10px 20px; 
    background-color: #437DEA; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center; 
    width: 100%; 
    max-width: 200px; 

    &:hover {
      background-color: #365b99;
    }
  }

  .order-item {
    display: flex;
    align-items: center;

    p {
      margin: 5px 0;
    }
  }
}
