.transaction-failure-page {
    text-align: center;
    margin: 20px auto; 
    margin-top: 200px;
    background-color: white; 
    border: 2px solid black;
    border-radius: 8px; 
    padding: 50px;
    max-width: 600px; 
    width: 90%;
    
    h1 {
      color: #e74c3c; 
    }
  
    p {
      font-size: 18px;
      margin: 20px 0;
    }
  
    .retry-button,
    .back-home-button {
      background-color: #3498db;
      color: white;
      border: none;
      padding: 10px 20px;
      margin: 5px;
      cursor: pointer;
      border-radius: 5px;
  
      &:hover {
        background-color: #2980b9;
      }
    }
  }
  